h1, h2, h3, p{
  margin: 0;
  padding: 0;
}

.card{
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding: 16px;
}

.card-content .flavor{
  font-style: italic;
}

img{
  max-width: 380px;
}

a mat-icon{
  padding: 16px;
}

a mat-icon:hover{
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 32px;
}