<header>
  <h1>MTG Cards</h1>
  <mat-button-toggle-group name="viewMode" aria-label="viewMode">
    <mat-button-toggle value="cardView" (click)="activateCardView()">
      <mat-icon>view_module</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="tableView" (click)="activateTableView()">
      <mat-icon>view_list</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
</header>

<div *ngIf="isLoading" class="spinner">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="!isLoading" [@fadeInOut]>
  <div *ngIf="cardView; else tableView" class="card-container">
    <div *ngFor="let card of cards">
      <app-card [card]="card"></app-card>
    </div>
  </div>

  <ng-template #tableView>
    <app-table [cards]="cards"></app-table>
  </ng-template>
</div>

