header{
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
}

/* .card {
  max-width: 300px;
}

.card:hover{
  background-color: rgba(0, 0, 0, 0.05);
}

img{
  width: 100%;
}

.artist{
  display: flex;
  align-items: center;
}

.artist p{
  margin: 0;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
}

.artist mat-icon{
  color: rgba(0, 0, 0, 0.54);
}

mat-card-subtitle{
  padding-bottom: 4px;
}

mat-divider{
  padding: 4px 0;
} */

@media (max-width: 1080px) {
  .card-container  {
      grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 860px) {
  .card-container  {
      grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .card-container  {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .card-container  {
      grid-template-columns: 1fr;
  }
}